* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}



.navbar .container-fluid .navbar-brand img{
    border-radius: 100%;
    width: 150px;
}

.principal{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem 1rem 2rem;
}

.principal .banner{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-image: url(assets/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.productos{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.productos .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding: 30px;
    place-items: center;

}
.about{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.about .cont-chef{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding: 30px;
    place-items: center;
}

.about .chef{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.about .chef img{
    border-radius: 50%;
    max-width: 20rem;
}







